<h2 mat-dialog-title>Text Input Editor</h2>
<mat-dialog-content style="overflow: unset;" class="mat-typography">
  
  <div class="row-container">

    <mat-form-field appearance="fill">
      <mat-label>Nume câmp</mat-label>
      <input [(ngModel)]="name" matInput placeholder="nume">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Placeholder câmp</mat-label>
      <input [(ngModel)]="placeholder" matInput placeholder="placeholder">
    </mat-form-field>
  
    <mat-checkbox [(ngModel)]="textarea" class="example-margin">Textarea</mat-checkbox>

  </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anulează</button>
  <button mat-button (click)="close()" cdkFocusInitial>Adaugă</button>
</mat-dialog-actions>