<mat-card-title>Înregistrare</mat-card-title>

<form>
    <p>
        <mat-form-field>
            <input #emailInput type="text" matInput placeholder="Email" >
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <input #passwordInput type="password" matInput placeholder="Parola" >
        </mat-form-field>
    </p>

    <p class="error">
    </p>

    <div class="button">
        <button type="button" (click)="signup(emailInput.value, passwordInput.value)" mat-button>Înregistrează-te</button>
    </div>

</form>